#title-text {
    color: white;
}

#search-div {
    border: 3px solid black;
}

.search-container {
    border: 3px solid yellow;
}

.card {
    border: 3px solid red;
    margin: 10px;
}

.weather-display {
    border: 3px solid blue;
}

.forecast-container {
    border: 3px solid green;
}

.uvi {
    background-color: red;
    color: white;
}