#title-text {
    color: white;
}

#search-div {
    border: 1px solid black;
}

.card {
    margin: 10px;
}

.weather-display {
    border: 3px solid blue;
}

.uvi {
    background-color: red;
    color: white;
}

.hidden {
    display:none;
}